<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">User Management</a>
  <button class="btn btn-primary ml-auto" (click)="openAddUserForm()">
    Add User
  </button>
</nav>

<!-- User Form -->
<div class="container mt-4">
  <div *ngIf="showForm">
    <app-user-form
      [user]="selectedUser"
      [isEditMode]="isEditMode"
      (userUpdated)="onUserAddedOrUpdated()"
      (formCancelled)="cancelForm()"
    ></app-user-form>
  </div>

  <!-- User Table -->
  <div *ngIf="!showForm">
    <app-user-table [users]="users" (userSelected)="onEdit($event)">
    </app-user-table>
  </div>
</div>
